body{
    background-image: url(../images/background.jpg);
}
h1{
    font-size: 36px;
    color: white;
    padding: 10px;
}
img{
max-height: 200px;
max-width: 100px;
background-color: white;
}
p{
    text-align: center;
}
#bulbasaur{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
   
}
#charmander{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#horsea{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#pikachu{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

#bench {
    background-color: yellow;
    max-width: 150px;
    float: left;
    margin-right: 150px;
}
#enemyBench{
    background-color: green;
    max-width: 150px;
    height: 700px;
    float: left;
    margin-right: 150px;
}
#yourCharacter{
    background-color: blue;
    max-width: 150px;
    height: 700px;
    float: left;
    margin-right: 150px;
}
#defender{
    background-color: white;
    max-width: 150px;
    height: 700px;
    float: left;
    margin-right: 150px;
}