body{
    background-image: url(../images/background.jpg);
    background-size: 100%;
}
h1{
    font-size: 36px;
    color: white;
    padding: 10px;
}
img{
max-height: 200px;
max-width: 100px;
background-color: white;
}
p{
    text-align: center;
}
#bulbasaurBench{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
   
}
#charmanderBench{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#horseaBench{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#pikachuBench{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#bulbasaurSelected{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
   
}
#charmanderSelected{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#horseaSelected{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#pikachuSelected{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#bulbasaurEnemy{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
   
}
#charmanderEnemy{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#horseaEnemy{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#pikachuEnemy{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#bulbasaurDefender{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
   
}
#charmanderDefender{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#horseaDefender{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#pikachuDefender{
    width: 100px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}


#bench {
    background-color: yellow;
    max-width: 150px;
    float: left;
    margin-right: 150px;
}
#enemyBench{
    background-color: green;
    max-width: 150px;
    float: left;
    margin-right: 150px;
}
#yourCharacter{
    background-color: blue;
    max-width: 150px;
    float: left;
    margin-right: 150px;
}
#defender{
    background-color: rgb(126, 42, 165);
    max-width: 150px;
    float: left;
    margin-right: 150px;
}